$z-header-cutblock: 0;
$z-header:100;
$z-tags:10;
$z-facts: 1;
$z-news-filter:100;
$z-alert: 999999;
$z-primary-menu: 9999;
$z-message-alert: 200;
$z-social-project: 20;
$z-popup: 250;
$media-slider-z: 300;
$z-vimWindow: 1000;

$green-color: #00694d;
$yellow-color: #ffc815;
$blue-color: #01468b;
